page-producer {
    .content {
        background-image: url('../assets/img/screen_background.png');
        background-repeat: no-repeat;
        background-size:cover;
        .view_content{
          position: fixed;
          bottom: 20px;
          left: 10px;
          right: 10px;
          height: 60%;
    
          .scroll-content {
            height: 100%;
            //left: 10px;
            //right: 10px;
            //font-size: 16px;
    
          }
          .choice {
            background: transparent;
            [ion-button] {
              height: 80px;
              font-size: 18px;
            }
          }
        }
      }
      .col{
        border: white;
      }
      ion-content{
        ion-input>input{
          text-align: center !important;
          font-weight: bold;
        }
      }
      

}
