page-home {
  .scroll-content {
    padding: 20px;
    margin: 10px;
  }
  .label1{
    font-size: 30px;
    text-align: center;
    padding: 5px;
  }
  .label2{
    font-size: 22px;
    text-align: center;
  }

  .btnExit{
    // padding-top: 5%;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    [ion-button]{
      height: 60px;
      font-size: 18px;
    }
  }
  .btnEnter{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    [ion-button]{
      height: 60px;
      font-size:  18px;
    }
  }

  .btnLang{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    [ion-button]{
      height: 60px;
      font-size:  18px;
    }
  }
  .label3{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    .card-md {
      height: 100px;
    }
    .card-content-md {
      padding: 30;
      font-size: 1.5rem;
      text-align: center;
      justify-content: center;
      vertical-align: middle;
    }
  }
  .title-image {
    margin-top: 8px;
    height: 27px;
    text-align: right;
}
}


